<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>641407592753-bfua4kk5oqa4rkcct39300dte086l5lp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.641407592753-bfua4kk5oqa4rkcct39300dte086l5lp</string>
	<key>API_KEY</key>
	<string>AIzaSyCOH1sv27ReeSUhCrBCzDBdoS_iH5fgGRw</string>
	<key>GCM_SENDER_ID</key>
	<string>641407592753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>quino.food</string>
	<key>PROJECT_ID</key>
	<string>kuchan-35361</string>
	<key>STORAGE_BUCKET</key>
	<string>kuchan-35361.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:641407592753:ios:c4553816a3f67071</string>
	<key>DATABASE_URL</key>
	<string>https://kuchan-35361.firebaseio.com</string>
</dict>
</plist>